<!-- nav -->
<nav >
  <div class="relative">

    <img src="../assets/img/navbar.png" alt="" style="width: 100%; height:100%;" />
    <!-- <ul class="text-xl text-white">
      <li >About</li>
      <li>Experience</li>
      <li>Project</li>
      <li>Connect</li>
    </ul> -->
  </div>

</nav>

<!-- about -->
<div class="relative">
  <p class="absolute text-xl text-white" style="left: 5%; top: 15px;">Andika Hilmi Hamdani</p>
  <p class="absolute text-xl text-white" style="left: 5%; top: 108px;">Frontend Developer</p>
  <p class="absolute text-xl text-white" style="left: 5%; top: 201px;">I am passionate about website and design.
    <br />So, let's enjoy about my passion
  </p>
  <div class="w-40 h-12 relative left-16 bottom-0 top-72">
    <button class="flex items-center flex-1 h-full px-5 py-7 bg-green-900 rounded-full">
      <a href="https://www.linkedin.com/in/andikahilmihamdani/">
        <p class="flex-1 text-xl text-white">Contact Me!</p>
      </a>
    </button>
  </div>
  <lottie-player class="absolute right-0 top-0" src="https://assets8.lottiefiles.com/packages/lf20_yq3qqjh7.json"
    background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
</div>

<!-- Experience -->
<div class="relative">

  <p class="absolute text-xl text-white" style="left: 50%; top: 20rem;">Experience</p>

  <div class="absolute bottom-0" style="width: 250px; height:200px; top: 25rem; ">
    <div class="inline-flex flex-col items-center justify-end pt-9 bg-yellow-50 rounded-3xl"
      style="width: 250px; height:200px;">
      <div class="relative bg-green-900 rounded-3xl" style="width: 250px; height: 50px;">
        <p class="absolute text-xl text-white" style="left: 124px; top: 89px;">JUN 22- DEC 22</p>
        <div class="inline-flex items-center justify-center w-16 h-16 px-4 py-2 absolute" style="left: 44px; top: 8px;">
          <img class="flex-1 h-full rounded-lg"
            src="https://via.placeholder.com/33.599998474121094x47.30000305175781" />
        </div>
        <img class="w-16 h-16 absolute rounded-lg" style="left: 44px; top: 77px;"
          src="https://via.placeholder.com/64x64" />
        <p class="absolute text-xl text-white" style="left: 129px; top: 18px;">Kejayan Factory</p>
      </div>
    </div>
  </div>

  <div class="absolute inset-x-0 bottom-0 mx-auto" style="width: 250px; top: 25rem; height:200px;">
    <div class="inline-flex flex-col items-center justify-end pt-9 bg-yellow-50 rounded-3xl"
      style="width: 250px; height:200px;">
      <div class="relative bg-green-900 rounded-3xl" style="width: 250px; height: 50px;">
        <p class="absolute text-xl text-white" style="left: 124px; top: 89px;">JUN 22- DEC 22</p>
        <div class="inline-flex items-center justify-center w-16 h-16 px-4 py-2 absolute" style="left: 44px; top: 8px;">
          <img class="flex-1 h-full rounded-lg"
            src="https://via.placeholder.com/33.599998474121094x47.30000305175781" />
        </div>
        <img class="w-16 h-16 absolute rounded-lg" style="left: 44px; top: 77px;"
          src="https://via.placeholder.com/64x64" />
        <p class="absolute text-xl text-white" style="left: 129px; top: 18px;">Kejayan Factory</p>
      </div>
    </div>
  </div>

  <div class="absolute right-0 bottom-0" style="width: 250px; top: 25rem; height:200px;">
    <div class="inline-flex flex-col items-center justify-end pt-9 bg-yellow-50 rounded-3xl"
      style="width: 250px; height:200px;">
      <div class="relative bg-green-900 rounded-3xl" style="width: 250px; height: 50px;">
        <p class="absolute text-xl text-white" style="left: 124px; top: 89px;">JUN 22- DEC 22</p>
        <div class="inline-flex items-center justify-center w-16 h-16 px-4 py-2 absolute" style="left: 44px; top: 8px;">
          <img class="flex-1 h-full rounded-lg"
            src="https://via.placeholder.com/33.599998474121094x47.30000305175781" />
        </div>
        <img class="w-16 h-16 absolute rounded-lg" style="left: 44px; top: 77px;"
          src="https://via.placeholder.com/64x64" />
        <p class="absolute text-xl text-white" style="left: 129px; top: 18px;">Kejayan Factory</p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="relative" style="top: 50rem; left: 50%;">

    <p class="text-xl text-white">Let’s Connect on:</p>
    <div class="inline-flex">

      <a href="https://www.instagram.com/dikadehamdani72/">
        <img class="w-12 h-12" src="../assets/img/Instagram.png" />
      </a>

      <a href="https://www.linkedin.com/in/andikahilmihamdani/">
        <img class="w-12 h-12" src="../assets/img/Linkedin.png" />
      </a>

      <a href="https://github.com/AndikaHilmiHamdani">
        <img class="w-12 h-12" src="../assets/img/github.png" />
      </a>
    </div>
  </div>
  
</footer>